<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MMRUS</title>
</head>
<body>
    <h1>Ma meilleure Résidence U</h1>
    <div>
        <a href="/mmrus/new">Ajouter</a>
    </div>
    <ul>
        <% for (let mmru of mmrus) {%>
            <li> <a href="/mmrus/<%= mmru._id%>"><%= mmru.nom %></a> </li>
        <%} %>
    </ul>
</body>
</html>