    <% layout('layouts/boilerplate')%>
    <h1>Ma meilleure Résidence U</h1>
    <div>
        <a href="/mmrus/new">Ajouter</a>
    </div>
    <ul>
        <% for (let mmru of mmrus) {%>
            <li> <a href="/mmrus/<%= mmru._id%>"><%= mmru.nom %></a> </li>
        <%} %>
    </ul>