<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h1><%= mmru.nom%></h1>
    <h2><%= mmru.ville%>, <%= mmru.adresse%></h2>
    <footer>
        <div>
            <a href="/mmrus/<%= mmru._id%>/edit">Editer</a>
        </div>
       <div>
        <a href="/mmrus">Les Résidences U</a>
       </div>
       
    </footer>
</body>
</html>